{% extends 'flatpages/default.html' %}

{% load  custom_filters %}
{% load custom_tags %}
{% block title %}
Posts
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <hr>
    <form action="" method="get" >
        {{ filterset.form.as_p }}
        <label for="start">Start date:</label>
        <input type="date" id="start" name="date_post__gte" value="{{ request.GET.date_post__gte }}" min="2018-01-01" max="2018-12-31" />

        <label for="end">End date:</label>
        <input type="date" id="end" name="date_post__lte" value="{{ request.GET.date_post__lte }}" min="2018-01-01" max="2018-12-31" />
        <input type="submit" value="Найти"/>
    </form>
    <hr>
    <h3> {{ posts|length }}</h3>
    <hr>
    {% if posts %}
        <table>
            <tr>
                <td> heading </td>
                <td> date_post </td>
                <td> content </td>
            </tr>
            {% for post in posts %}
            <tr>
                <td>{{ post.heading|verification:'non_official' }}</td>
                <td>{{ post.date_post|date:'D m Y' }}</td>
                <td>{{ post.content|censor }}</td>
            </tr>
            {% endfor %}
        </table>
    {%  else %}
        <h2> Новостей нет </h2>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">
                {{ pege_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">
            {{ page_obj.next_page_number }}</a>
            {% if paginator.num_pages != page_obj.next_page_number %}
                ...
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}">
                    {{ page_obj.paginator.num_pages }}</a>
            {% endif %}
    {% endif %}
{% endblock content %}